.preloader {
	z-index: 30;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
}

.bgWave {
  display: flex;
  align-self: flex-start;
  height: 70%;
  width: 100%;
  margin-top: -70%;
  img {
    height: 100%;
    width: 100%;
  }
}

.preloaderLogo {
  display: flex;
  position: absolute;
  align-self: center;
  height: 300px;
  width: 245px;
  top: 13%;
}
.logoText {
  display: flex;
  align-self: center;
  position: absolute;
  height: 150px;
  width: 267px;
  bottom: 20%;
}

.preloaderText {
  display: flex;
  align-items: center;
  bottom: 85px;
  padding: 0 40px;
  margin-bottom: 25px;
  h4 {
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--altColor);
  }
}

.progressBar {
  display: flex;
  align-self: center;
  position: absolute;
  width: 80%;
  height: 6px;
  background-color: var(--goldColor);
  border-radius: 5px;
  overflow: hidden;
  bottom: 15%;
}

.progress {
  width: 0;
  height: 100%;
  background-color: var(--redColor);
  animation: progressAnimation 3s linear infinite;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.preloader.loaded {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.5);
}