.header {
	padding: 0 12px;
	display: flex;
	justify-content: space-between;
	height: 64px;
	align-items: center;
	&__logo {
		width: 44px;
		height: 44px;
		border-radius: 62px;
		background: var(--altBG);
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__btn-group {
		display: flex;
		align-items: center;
		gap: 16px;
	}
	&__social-links {
		display: flex;
		gap: 12px;
	}
	&__social-link {
		width: 36px;
		height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__menuBtn {
		border: 2px solid var(--mainColor);
		border-radius: 60px;
		padding: 8px 16px;
		width: 106px;
		height: 44px;
		background: var(--altBG);
		font-weight: 400;
		font-size: 20px;
		display: flex;
		gap: 10px;
		position: relative;
		svg {
			position: absolute;
			right: 12px;
		}
	}
	&__menu {
		display: flex;
		border: 0.0625rem solid rgba(255, 255, 255, 0.1);
		top: 0;
		flex-direction: column;
		position: absolute;
		background: var(--altBG);
		z-index: 100;
		border: 1px solid #000000;
		border-radius: 20px;
		padding: 12px;
		gap: 8px;
		margin-top: 74px;
		right: 12px;
		width: 90%;
	}
	&__menu-links {
		border: 1px solid #172610;
		border-radius: 10px;
		padding: 16px 24px;
		height: 56px;
		font-weight: 400;
		font-size: 22px;
		line-height: 100%;
		letter-spacing: 0.02em;
		color: var(--mainColor);
		width: 256px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		text-transform: uppercase;
	}
}

.popupInvite,
.popupLeaderboard,
.popupDashboard {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: visibility 0.8s ease 0s;
	pointer-events: none;
}
.popupInvite_show,
.popupLeaderboard_show,
.popupDashboard_show {
	z-index: 302;
	display: flex;
	overflow: auto;
	pointer-events: auto;
}
.popupInvite_show .popupInvite__content,
.popupLeaderboard_show .popupLeaderboard__content,
.popupDashboard_show .popupDashboard__content {
	display: flex;
}
.popupInvite__wrapper,
.popupLeaderboard__wrapper,
.popupDashboard__wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
	display: flex;
}
.popupInvite__content,
.popupLeaderboard__content,
.popupDashboard__content {
	display: none;
	transition: transform 0.3s ease 0s;
	background-color: var(--mainBG);
	width: 100%;
}

.popupInvite {
	&__wrapper {
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;
		display: flex;
	}
	&__content {
		padding: 0px 12px 17px 12px;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background: var(--redColor);
		position: relative;
	}
	&__close {
		position: absolute;
		top: 30px;
		right: 15px;
	}
	&__title {
		h4 {
			font-weight: 400;
			font-size: 32px;
			line-height: 110%;
			text-align: center;
			color: var(--mainColor);
		}
	}
	&__header {
		display: flex;
		margin-top: 30px;
		h6 {
			font-weight: 400;
			font-size: 32px;
			line-height: 110%;
			text-align: center;
			color: var(--mainColor);
		}
		@media (max-height: 730px) {
			display: none;
		  }
	}
	&__refInfo {
		display: flex;
		flex-direction: row;
		align-items: center;	
		justify-content: center;
		width: 100%;
		margin-top: 20px;
	}
	&__refInfo-box {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		p	 {
			font-family:"SFproReg";
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: 0.01em;
			color: var(--altColor);
		}
	}
	&__refInfo-coins {
		display: flex;
		position: relative;
		width: 100%;
		height: 110px;
		img {
			position: absolute;
			width: 65px;
		}
		img:first-child {
			top: 0;
			left: 32.5%;
		}
		img:nth-child(2) {
			width: 42px;
			top: 5%;
			right: 7%;
			opacity: 0.5;
		}
		img:nth-child(3) {
			width: 18px;
			bottom: 30%;
			left: 17%;
			opacity: 0.6;
		}
		img:nth-child(4) {
			width: 27px;
			bottom: 35%;
			right: 5%;
			transform: rotate(15deg);
			opacity: 0.8;
		}
		img:nth-child(5) {
			width: 16px;
			left: 10%;
			top: 30%;
			opacity: 0.7;
		}
		img:nth-child(6) {
			width: 33px;
			top: 0;
			left: 15%;
			opacity: 0.4;
		}
	}
	&__refInfo-item {
		margin-top: -30px;
		span {
			font-weight: 400;
			font-size: 24px;
			line-height: 100%;
			letter-spacing: 0.01em;
			color: var(--altColor);
		}
	}
	&__grid {
		margin-top: 32px;
		width: 100%;
	}
	&__grid-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__list-item {
		border-radius: 10px;
		padding: 16px 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
	&__list-itemDescr {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
		h4 {
			font-weight: 400;
			font-size: 24px;
			line-height: 100%;
			letter-spacing: 0.01em;
			color: var(--mainColor);
		}
		p {
			font-family: "SFproSemi";
			font-weight: 400;
			font-size: 18px;
			line-height: 100%;
			color: var(--mainColor);
		}
	}
	.inviteLinkBtn {
		border-radius: 10px;
		height: 44px;
		background: #2cb726;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 24px;
		button {
			width: 100%;
			padding: 12px;
			height: 100%;
			font-weight: 400;
			font-size: 22px;
			line-height: 100%;
			letter-spacing: 0.02em;
			color: var(--mainColor);
		}
	}
	&__item-box {
		margin-top: 25px;
		border-radius: 10px;
		width: 100%;
		padding: 16px 24px
	}
	&__item-group {
		display: flex;
		flex-direction: column;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		p {
			font-weight: 400;
			font-size: 20px;
			line-height: 100%;
			letter-spacing: 0.02em;
			color: var(--altColor);
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	&__input {
		position: relative;
		border: 1px solid #fff;
		border-radius: 44px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		font-weight: 400;
		color: var(--altColor);
		border: 2px solid var(--altColor);
		font-size: 10px!important;
		line-height: 140%;
		letter-spacing: 0.03em;
		padding: 15px 30px 15px 15px;
	}
	&__input-btn {
		position: absolute;
		top: 0px;
		right: 0px;
		padding: 8px;
		border-radius: 12px;
		img {
			width: 24px;
			height: 24px;
		}
	}
	&__submit {
		display: flex;
		align-self: center;
		color: var(--altColor);
		width: fit-content;
		border-radius: 44px;
		padding: 18px 16px;
		font-size: 24px;
		background: transparent;
		border: 2px solid var(--mainColor);
	}
}
.copied-message {
  display: inline-block;
	position: absolute;
	top: -25px;
	right: 0px;
	font-size: 18px;
  color: var(--altColor);
  font-weight: bold;
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.popupLeaderboard {
	&__wrapper {
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		width: 100%;
		display: flex;
	}
	&__content {
		padding: 0px 12px 17px 12px;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;
		background: var(--mainBG);
		position: relative;
	}
	&__close {
		position: absolute;
		top: 40px;
		right: 15px;
	}
	&__title {
		display: flex;
		align-items: center;
		margin-top: 36px;
		h4 {
			font-weight: 400;
			font-size: 32px;
			line-height: 110%;
			color: var(--mainColor);
		}
	}
	&__playerList {
		margin-top: 28px;
		width: 100%;
	}
	&__table {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 5px;
	}
	&__tableItem {
		display: flex;
		flex-direction: row;
		border-radius: 12px;
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;
		height: 52px;
		background-color: var(--altBG);
		.popupLeaderboard__id {
			font-weight: 700;
			font-size: 22px;
			line-height: 100%;
			letter-spacing: 0.02em;
			margin-bottom: 8px;
			text-align: center;
			svg {
				display: none;
				position: absolute;
				margin-top: 5px;
			}
		}
		.popupLeaderboard__playerName {
			font-weight: 400;
			font-size: 18px;
			line-height: 100%;
			margin-bottom: 8px;
			letter-spacing: 0.02em;
		}
		.popupLeaderboard__coins {
			font-weight: 700;
			font-size: 22px;
			line-height: 100%;
			margin-bottom: 8px;
			letter-spacing: 0.02em;
			span {
				margin-right: 26px;
			}
			img {
				position: absolute;
				right: 0;
				top: 5px;
				width: 22px;
				height: 22px;
			}
		}
	}
	&__tableItem:first-child {
		padding-left: 12px;
		background: var(--goldColor);
		span {
			color: var(--mainColor);			
		}
		.popupLeaderboard__id {
			svg {
				display: block;
				left: -9px;
				path {
					fill: var(--mainColor);			
				}
			}
		}
	}
	&__tableItem:nth-child(2) {
		padding-left: 12px;
		background: #abb0bc;
		span {
			color: var(--mainColor);			
		}
		.popupLeaderboard__id {
			svg {
				display: block;
				left: -8px;
				path {
					fill: var(--mainColor);			
				}
			}
		}
	}
	&__tableItem:nth-child(3) {
		padding-left: 12px;
		background: var(--redColor);
		span {
			color:var(--mainColor);		
		}
		.popupLeaderboard__id {
			svg {
				display: block;
				left: -8px;
				path {
					fill: var(--mainColor);			
				}
			}
		}
	}
	&__itemData {
		display: flex;
		position: relative;
		flex-direction: row;
		align-items: center;
		font-weight: 600;
		font-size: 24px;
		line-height: 130%;
		width: 100%;
	}
	&__id {
		font-size: 22px;
	}
	&__playerName {
		display: flex;
		flex-direction: row;
		margin-left: 15px;
		font-size: 18px;
	}
	&__coins {
		position: absolute;
		display: flex;
		right: 0;
		width: fit-content;
		font-size: 22px;
	}
}

.highlight {
	background: transparent;
	border: 2px solid var(--mainColor);
	color: var(--mainColor);
}